issuer: https://civillabs.app/idp # Public URL
storage:
  type: memory

web:
  http: 0.0.0.0:5556 # Listen on all interfaces

oauth2:
  passwordConnector: local
  skipApprovalScreen: true

connectors:
- type: local
  id: local
  name: Local

enablePasswordDB: true
staticPasswords:
  - email: "jackson.n.arnold@gmail.com"
    # Placeholder: Dex will read the actual hash from the environment variable
    hash: "{{ .Env.DEX_ARNOLD_HASH }}" 
    username: "jackson-arnold"
    userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"

  - email: "Ben.Reno-Weber@louisvilleky.gov"
    # Placeholder: Dex will read the actual hash from the environment variable
    hash: "{{ .Env.DEX_RENO_WEBER_HASH }}" 
    username: "ben-reno-weber"
    userID: "dcc92d48-ffca-49f5-b3d0-718d60561f84"

    - email: "Andrew.Owen@louisvilleky.gov"
    # Placeholder: Dex will read the actual hash from the environment variable
    hash: "{{ .Env.DEX_OWEN_HASH }}" 
    username: "andrew-owen"
    userID: "2e1c7fa0-762c-47fc-9752-9b7ba8c86bd2"

staticClients:
  - id: civil-gateway
    name: "Civil Go Gateway"
    # Placeholder: Dex will read the secret from the environment variable
    secret: "{{ .Env.DEX_CLIENT_SECRET }}"
    redirectURIs:
      - "http://127.0.0.1:8080/callback"